@await Html.PartialAsync("_header2")
<section class="breadcrumb-section set-bg" data-setbg="/img/banner/CoronaFoto.jpg">
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>@localizer["İletişim"]</h2>
                    <div class="breadcrumb__option">
                        <a href="/">@localizer["Anasayfa"]</a>
                        <span>@localizer["İletişim"]</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_phone"></span>
                    <h4>@localizer["Telefon"]</h4>
                    <p>+9005527402821</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_pin_alt"></span>
                    <h4>@localizer["Adres"]</h4>
                    <p>Kemalpaşa Mah. Serdivan</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_clock_alt"></span>
                    <h4>@localizer["Çalışma Saatleri"]</h4>
                    <p>10:00 - 23:00</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_mail_alt"></span>
                    <h4>@localizer["Email"]</h4>
                    <p>DavudOzgurSelim@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.6881021567115!2d30.347711715366085!3d40.746888079328095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ccb27a05d7fec3%3A0x175e616d96383e72!2sImren%20House%20Erkek%20Ogrenci%20Yurdu!5e0!3m2!1str!2str!4v1609514451498!5m2!1str!2str"
            height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <div class="map-inside">
        <i class="icon_pin"></i>
        <div class="inside-widget">
            <h4>Sakarya</h4>
            <ul>
                <li>@localizer["Telefon"]: +90-345-6789</li>
                <li>@localizer["Ek"]: üniversite cad. Kemalpaşa Mah. Serdivan</li>
            </ul>
        </div>
    </div>
</div>


<!-- Contact Form End -->
@section Scripts
{
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
}


