@model CartItemsViewModel
@await Html.PartialAsync("_header2")
<section class="breadcrumb-section set-bg" data-setbg="/img/banner/CoronaFoto.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>@localizer["Alışveriş Sepeti"]</h2>
                    <div class="breadcrumb__option">
                        <a href="/">@localizer["Anasayfa"]</a>
                        <span>@localizer["Alışveriş Sepeti"]</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        @if (Model.cartItems.Count != 0)
        {
            <div class="row">
                <div class="col-lg-12">

                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">@localizer["Ürünler"]</th>
                                    <th>@localizer["Fiyat"]</th>
                                    <th>@localizer["Miktar"]</th>
                                    <th>@localizer["Toplam"]</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.cartItems)
                                {
                                    <tr>
                                        <td class="shoping__cart__item">
                                            <a href="shop/details/@item.ProductId">   <img width="100" height="100" src="/img/featured/@item.ImageUrl"></a>
                                            <h5>@item.Title</h5>
                                        </td>
                                        <td class="shoping__cart__price">
                                            @item.Price.ToString("c")
                                        </td>
                                        <td class="shoping__cart__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" value="@item.Quantity">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="shoping__cart__total">
                                            @((item.Quantity*item.Price).ToString("c"))
                                        </td>
                                        <td class="shoping__cart__item__close">
                                            <form asp-controller="Cart" asp-action="DeleteFromCart" method="post">
                                                <input type="hidden" name="productId" value="@item.ProductId">
                                                <button type="submit" class="icon_close"></button>
                                            </form>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a href="/shop/index" class="primary-btn cart-btn">@localizer["Alışverişe Devam Et"]</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__continue">

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>@localizer["Sepet Toplamı"]</h5>
                        <ul>
                            <li>@localizer["Toplam "]<span>@Model.total.ToString("c")</span></li>
                        </ul>
                        <a href="order/index" class="primary-btn">Satın Al</a>
                    </div>
                </div>
            </div>
        }
        else
        {
    <div class="alert alert-warning" role="alert">
        @localizer["Sepete herhangi bir ürün eklenmedi!"]  <a href="/shop" class="alert-link">@localizer["Mağazaya"]</a> @localizer["Gidin"] .
    </div>
        }
    </div>
</section>


@section Scripts
    {
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
}
