@model BrandModel
@{ Layout = "_LayoutAdmin"; }
<div class="row">
    <div class="col-xl-12">
        <div class="card easion-card">
            <div class="card-header">
                <div class="easion-card-icon">
                    <i class="fas fa-chart-bar"></i>
                </div>
                <div class="easion-card-title">@localizer["Markalar ve Markaya Ait Ürünler"] </div>
            </div>
            <div class="card-body ">
                <form asp-controller="Admin" asp-action="BrandEdit" method="POST">
                    <input type="hidden" name="BrandId" value="@Model.BrandId">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="inputEmail4">Adı</label>
                                    <input type="text" class="form-control" asp-for="Name" placeholder="Başlık">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary float-right">@localizer["Değişikleri Kaydet"]</button>
                        </div>
                        <div class="form-group col-md-8">
                            <table id="example" class="table table-hover table-in-card dt-responsive" style="width:100%">
                                <thead>
                                    <tr>
                                        <th scope="col">@localizer["Ürun Id"]</th>
                                        <th scope="col">@localizer["Ürün Başlığı"]</th>
                                        <th scope="col">@localizer["Fiyatı"]</th>
                                        <th scope="col">@localizer["Stok"]</th>
                                        <th scope="col">@localizer["Anasayfa"]</th>
                                        <th scope="col">@localizer["Satışta"]</th>
                                        <th scope="col">@localizer["Yayın Tarihi"]</th>
                                        <th scope="col">@localizer["Düzenle/Sil"]Düzenle/Sil</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.products)
                                    {
                                        <tr>
                                            <td scope="row">@item.ProductId</td>
                                            <td>@item.Title</td>
                                            <td>@(Convert.ToDouble(item.Price).ToString("c"))</td>
                                            <td>@item.Stock</td>
                                            <td>
                                                @if (item.IsHomePage)
                                                {
                                                    <i class="fas fa-check-circle"></i> }
                                                else
                                                {
                                                    <i class="fas fa-times-circle"></i>}
                                            </td>
                                            <td>
                                                @if (item.IsOnSale)
                                                {
                                                    <i class="fas fa-check-circle"></i> }
                                                else
                                                {
                                                    <i class="fas fa-times-circle"></i>}
                                            </td>
                                            <td>@item.Date</td>
                                            <td>
                                                <a href="/admin/ProductEdit/@item.ProductId" class="btn btn-primary btn-sm mr-2"><i class="fas fa-edit"></i></a>
                                                <form action="/admin/ProductDelete" method="post" style="display:inline">
                                                    <input type="hidden" name="productId" value="@item.ProductId" />
                                                    <button type="submit" class="btn btn-danger btn-sm "><i class="fas fa-trash-alt"></i></button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
