@model RegisterModel
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg my-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">@localizer["Üye Ol"]</h3></div>
                <div class="card-body">
                    <form asp-controller=@localizer["Hesap"] asp-action="Register" method="POST">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1">@localizer["İsim"]</label>
                                    <input class="form-control py-4" asp-for="FirstName" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1">@localizer["Soyad"]</label>
                                    <input class="form-control py-4" asp-for="LastName" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="small mb-1">E-mail</label>
                                    <input class="form-control py-4" asp-for="Email" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="small mb-1">@localizer["Parola"]</label>
                                    <input class="form-control py-4" asp-for="Password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-4 mb-0"><button class="btn btn-primary btn-block" type="submit">@localizer["Üye Ol"]</button></div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <div class="small"><a href="/account/login">@localizer["Hesabınız Var Mı? Giriş Yap"]</a></div>
                </div>
            </div>
        </div>
    </div>
</div>