@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> LocOptions

@{
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
    var cultureList = LocOptions.Value.SupportedUICultures.Select(x => new SelectListItem { Value = x.Name, Text = x.Name }).ToList();
    var returnUrl = string.IsNullOrWhiteSpace(Context.Request.Path) ? "~/" : $"~{Context.Request.Path}{Context.Request.QueryString}";
}
<header >
    <div style="background: #F5F5F5">
        <div class="container" >
            <div class="row py-2">
                <div class="col-lg-6 col-md-6 d-flex">
                    <div class="mr-3"><i class="fa fa-envelope mr-2"></i>DavudOzgurSelim@sakarya.edu.tr</div>
                    <div>@localizer["₺99 Üzeri Ücretsiz Kargo!"]</div>
                </div>
                <div class="col-lg-6 col-md-6 d-flex justify-content-end">
                    <div class="ml-3">
                        <form asp-action="CultureManagement" asp-controller="Home" method="post" asp-route-returnUrl="@returnUrl">
                            <select name="Culture" asp-for="@culture.RequestCulture.UICulture.Name" asp-items="cultureList" class="form-control form-control-sm" onchange="this.form.submit();"></select>
                        </form>
                    </div>
                    <div class="ml-3">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="header__top__right__auth mr-2">
                                <a href="/account/logout"><i class="fa fa-user"></i>@localizer["Çıkış Yap"]</a>
                            </div>
                        }
                        else

                        {
                            <div class="header__top__right__auth mr-2">
                                <a href="/account/login"><i class="fa fa-user"></i>@localizer["Giriş"]</a>
                            </div>
                            <div class="header__top__right__auth">
                                <a href="/account/register"><i class="fa fa-user"></i>@localizer["Kayıt Ol"]</a>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="/home/index"><img src="/img/Loggo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">@localizer["Ana Sayfa"]</a></li>
                        <li><a asp-area="" asp-controller="Shop" asp-action="Index">@localizer["Mağaza"]</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">@localizer["İletişim"]</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                @await Component.InvokeAsync("HeaderCart")
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
@*<ul>
        <li><a href="#">@localizer["Türkçe"]</a></li>
        <li><a href="#">@localizer["İngilizce"]</a></li>
    </ul>*@